 # Diabetes Prediction

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [5]:
# loading dataset to pandas dataframe 
diabetes_dataset = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Diabetes Prediction/diabetes.csv')

In [6]:
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [8]:
diabetes_dataset.shape # number of rows and columns in this dataset

(768, 9)

In [12]:
diabetes_dataset.describe() # stat* description of dataset

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [14]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [16]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [18]:
X = diabetes_dataset.drop(columns='Outcome',axis=1)
Y = diabetes_dataset['Outcome']

In [19]:
print(X.shape)
print(Y.shape)

(768, 8)
(768,)

In [20]:
# Data Standeriztion
scaler = StandardScaler()

In [21]:
scaler.fit(X)

StandardScaler()

In [22]:
standerdized_data = scaler.transform(X)

In [23]:
print(standerdized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [24]:
X = standerdized_data
Y = diabetes_dataset['Outcome']

In [25]:
print(X)
print(Y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [26]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2,stratify=Y,random_state=2)

In [27]:
print('X_train(Shape):{} - X_test(Shape):{} '.format(X_train.shape,X_test.shape))

X_train(Shape):(614, 8) - X_test(Shape):(154, 8)

In [28]:
print('Y_train(Shape):{} - Y_test(Shape):{} '.format(Y_train.shape,Y_test.shape))

Y_train(Shape):(614,) - Y_test(Shape):(154,)

In [30]:
# training the model 
classifier = svm.SVC(kernel='linear')

In [31]:
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

In [34]:
# Model Evaluation
X_train_prediction = classifier.predict(X_train)
training_data_acc = accuracy_score(X_train_prediction,Y_train)
print('The Training Data Accuracy : {}'.format(training_data_acc))

The Training Data Accuracy : 0.7866449511400652

In [35]:
X_test_prediction = classifier.predict(X_test)
test_data_acc = accuracy_score(X_test_prediction,Y_test)
print('The Test Data Accuracy : {}'.format(test_data_acc))

The Test Data Accuracy : 0.7727272727272727

In [37]:
# Makeing Predicting System
input_data = (1,85,66,29,0,26.6,0.351,31)
# changeing input data to an nparray
input_data_as_numpy_array = np.asarray(input_data)
# reshapeing data to input in model
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
# standarize the input data
std_data = scaler.transform(input_data_reshaped)
print(std_data)
prediction = classifier.predict(std_data)
print(prediction)
if (prediction[0] == 1):
  print('diabeteic')
else:
  print('non-diabeteic')

[[-0.84488505 -1.12339636 -0.16054575  0.53090156 -0.69289057 -0.68442195
  -0.36506078 -0.19067191]]
[0]
non-diabeteic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [39]:
## using svm to predict diabetes- see soon
print('End')

End